[submodule "asm6809"]
	path = asm6809
	url = https://www.6809.org.uk/git/asm6809.git
  ignore = all

[submodule "vasm"]
	path = vasm
	url = https://github.com/mbitsnbites/vasm-mirror.git
  ignore = all
